html {
  background-color: pink;
  width: 50%;
  margin-top: 100px;
  margin-left: 500px;
  border: 3px solid black;
  padding: 10px;
  font-size: 20px;

}
.header {
  text-align: center;
  }
img {
    float: right;
    border-radius: 500px;
  }
.introduction {
  text-align: center;
}
.content {
  text-align: right;
  text-decoration-color: green
}
h1{
  text-align: center;
  background-color: orange
}
h3{
  text-align: left;
}
#framing{
  width: 100
  border: 10px solid red;
  padding: 20px;

}
span{
  font-weight: bold;
  font-family: fantasy;
